@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@using Nop.Web.Models.Catalog;

@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.svg";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}

<div class="header">
    @Html.Widget("header")
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")">
            <img title="" alt="@storeName" src="@Url.Content(logoPath)">
        </a>
    </div>


    @* @JSK REMOVE <div class="header-links-wrapper">
        @Html.Action("HeaderLinks", "Common")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </div> *@
    @*<div class="search-box">
        @Html.Action("SearchBox", "Catalog")
    </div>
    *@
    <div class="header-selectors-wrapper">
        <div class="tax-display-type-selector">
            @Html.Action("TaxTypeSelector", "Common")
        </div>
        @* <div class="currency-selector">
            @Html.Action("CurrencySelector", "Common")
        </div>
        <div class="language-selector">
            @Html.Action("LanguageSelector", "Common")
        </div>*@
        @Html.Widget("header_selectors")
    </div>
</div>

@if (Model is Nop.Web.Models.Catalog.CategoryModel && Model.DisplayCategoryBreadcrumb)
{
    <div class="breadcrumb">
        <ul>
            <li>
                <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                <span class="delimiter">></span>
            </li>
            @foreach (var cat in Model.CategoryBreadcrumb)
            {
                var isLastCategory = cat.Id == Model.Id;
                <li>
                    @if (isLastCategory)
                    {
                        <strong class="current-item">@cat.Name</strong>
                    }
                    else
                    {
                        <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                        <span class="delimiter">></span>
                    }
                </li>
            }
        </ul>
    </div>
}

@if (Model is Nop.Web.Models.Catalog.ProductDetailsModel)
{
    <div class="breadcrumb">
        <ul>
           
            <li>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="@Url.RouteUrl("HomePage")" itemprop="url">
                        <span itemprop="title">@T("Products.Breadcrumb.Top")</span>
                    </a>
                </span>
                <span class="delimiter">></span>
            </li>
            @foreach (var category in Model.Breadcrumb.CategoryBreadcrumb)
            {
                <li>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="url">
                            <span itemprop="title">@category.Name</span>
                        </a>
                    </span>
                    <span class="delimiter">></span>
                </li>
            }
            <li>
                <strong class="current-item">@Model.Name</strong>
                @*<strong class="current-item"><a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" itemprop="url">@Model.ProductName</a></strong>*@
               
            </li>
        </ul>
    </div>
}




